[user]
	name = Pedro Drago
	email = drago@drago.com
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	editor = vim
	autocrlf = input
[safe]
	directory = /mnt/share/vault
	directory = *
[push]
	autoSetupRemote = true

; 93255861+PedroDrago@users.noreply.github.com
